// Font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');


// Abstract
@import './abstracts/mixins';
@import './abstracts/variables';

// Base
@import './base/reset';

// Component
@import './components/menusamping';
@import './components/jumbotron';

// Layout
@import './layouts/navbar';

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif !important;
    margin: 0;
}