// Font
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gabriela&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,700;0,800;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");


// Abstract
@import "./abstracts/mixins";
@import "./abstracts/variables";

// Base
@import "./base/reset";

// Component
@import "./components/menusamping";
@import "./components/jumbotron";
@import "./components/about";
@import "./components/services";

// Layout
@import "./layouts/navbar";

html {
  scroll-behavior: smooth;
}

body {
  font-family: $thirdlyFont !important;
  margin: 0;
}

.container-me {
  width: 95%;
  margin: 0 auto;

  @include tablet {
    width: 90%;
  }

  @include desktop {
    width: 85%;
  }
}