.about-me {
  &_title {
    @include title();
  }

  &_content {
    width: 100%;
    text-align: center;
    justify-content: center;

    &::after {
      @include tablet {
        content: "";
        position: absolute;
        border-radius: 50%;
        width: 230px;
        top: 640px;
        left: -135px;
        height: 230px;
        background: #f0f3fa;
        z-index: -2;
      }
    }

    @include tablet {
      width: 75% !important;
    }

    color: #2b2b2b;
  }
}
