.btn-me {
  font-family: $secondaryFont;
  @include button();

  &:hover {
    background: $primaryBackground;
    color: white;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 4px 12px 0px rgba($color: #000000, $alpha: 0.4);
    text-align: center;
    margin: 5px 2px;
    padding: 15px 20px;
  }
}
