.jumbotron-me {
  width: 100%;

  @include tablet {
    display: flex;
    position: relative;
  }

  &_image {
    width: 100%;
    overflow: hidden;
    text-align: right;
    margin-top: 50px;

    @include tablet {
      position: absolute;
      order: 2;
      width: 50%;
      top: 40px;
      right: 0px;
    }

    @include desktop {
      width: 55%;
    }

    img {
      width: 100%;
      max-width: 600px;
    }
  }

  &_content {
    padding: 20px;
    font-weight: bold;

    @include tablet {
      order: 1;
      margin-top: 140px;
      width: 60%;
      padding: 2.3rem;
    }

    @include desktop {
      padding: 5rem 6rem;
    }

    &_title {
      font-family: $primaryFont;
      margin-bottom: 20px;

      @include tablet {
        font-size: 6vw !important;
      }
    }

    &_cta {
      font-family: $secondaryFont;
      @include button();

      &:hover {
        background: $primaryBackground;
        color: white;
        border: none;
        border-radius: 8px;
        box-shadow: 0px 4px 12px 0px rgba($color: #000000, $alpha: 0.4);
        text-align: center;
        margin: 5px 2px;
        padding: 15px 20px;
      }

    }
  }
}