@mixin tablet {
    @media (min-width : 768px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width : 992px) {
        @content;
    }
}

@mixin logo {
    font-size: 30px;
    font-weight: bold;
    margin: 10px 10px;
}

@mixin button {
    background: $primaryBackground;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 12px 0px rgba($color: #000000, $alpha: 0.4);
    text-align: center;
    margin: 5px 2px;
    padding: 10px 15px;
}