$primaryBackground: linear-gradient(
  90deg,
  rgba(140, 50, 240, 1) 0%,
  rgba(231, 53, 135, 1) 100%
);
$secondaryBackground: #020e35;

$primaryColor: #e73587;

$primaryFont: "Gabriela", serif;
$secondaryFont: "Nunito Sans", sans-serif;
$thirdlyFont: "Poppins", sans-serif;
